{% extends 'core/core.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'core/css/edu.css' %}">
{% endblock css %}

{% block header %}
<div class="education-section text-center">
    <h2 class="section-title">Academic Qualifications</h2>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Master of Computer Applications (MCA)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Nalanda Open University</h6>
                        <p class="card-text">Completed: 2024</p>
                        <p class="card-text">Achieved a good percentage, enhancing my skills in software development and data analysis.</p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Bachelor's Degree in English</h5>
                        <h6 class="card-subtitle mb-2 text-muted">vinoba bhave university</h6> <!-- Replace with actual university name -->
                        <p class="card-text">Completed: 2022</p>
                        <p class="card-text">Developed strong analytical and communication skills that complement my technical knowledge.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock header %}
